@import "../../styles/vars";

.wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.featuredWrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
